:root {
    --cor-primaria-clara: #aa3bff;
    --cor-primaria-base: #2c3e50;
    --cor-primaria-escura: #1a252f;
    --cor-secundaria-clara: #f5f5f5;
    --cor-secundaria-base: #7f8c8d;
    --cor-secundaria-escura: #34495e;
    --cor-terciaria-erro: #e74c3c;
    --cor-terciaria-fundo: #ffffff;
    
    --fonte-base: system-ui, -apple-system, sans-serif;
    
    --tamanho-pequeno: .75rem;
    --tamanho-base1: 1rem;
    --tamanho-base2: 1.3rem;
    --tamanho-titulo: 2rem; 
    --tamanho-logo: 4rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: var(--fonte-base);
    font-size: var(--tamanho-base1);
    color: var(--cor-primaria-base);
    background-color: var(--cor-terciaria-fundo);
}

h1 {
    font-family: var(--fonte-base);
    font-size: var(--tamanho-titulo);
}
